<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
{{ title }}
{% if sorted %}
  {% if direction == 'desc' %}
    {{ icon('user') }}
  {% else %}
    {{ icon('user') }}
  {% endif %}
{% endif %}
</a>