{% extends 'base.html.twig' %}

{% block body %}

    <div class="form_card">
        <p class="form_card_h1"><span class='span_h1'>Votre photo de profile actuelle</span></p>
        
        {% if app.user.image is null %}
            <img src="/images/user/default/user.png" alt="image" >
        {% else %}

            <img src="{{ asset(app.user.image.webPath) }}" alt="{{ app.user.image.alt }}">

            <div class="dashboard__actions ">
                <form method="POST" action="{{ path('user_image_delete', { id : app.user.image.id }) }}" class="middle" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette image ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.image.id) }}">
                    <button> {{ icon('trash') }} Supprimer cette image </button>
                </form>
            </div>
        {% endif %}

        {{ form_start(formImage, { 'attr' : { 'class' : '' }} ) }}

        {{ form_errors(formImage.image.file) }}
        <div class="form_card_div">
            <label for="inputImage" class="form_card_label">Télécharger une autre image</label>
            {{ form_widget(formImage.image.file, { 'attr' : { 'class' : 'form_card_input'} } ) }}
        </div>

        <button type="submit" class="form_card_submit btn__text" > Envoyer </button>
        {{ form_end(formImage) }}
    </div>

{% endblock body %}